<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sample</title>
</head>
<body>
    <center>
        <h1 style="color: orange;"><marquee behavior="" direction="">this is my first html project</marquee></h1>
        <h1 style="color:black;"><marquee behavior="" direction="">this is the project3 </marquee></h1>
        <h1 style="color: green;"><marquee behavior="" direction="">it is the rendering the template html</marquee></h1>
    </center>
</body>
</html>